<link rel="stylesheet" href="{{ url_for('static', filename='css/searchbar.css') }}">

<nav class="navbar fixed-top navbar-light bg-white">
    <a class="navbar-brand" href="#">
        <img src="" width="30" height="30" class="d-inline-block align-top" alt="">
        Napier CRM
    </a>
    <ul class="navbar-nav">
        <li class="nav-item active">
            <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
        </li>
    </ul>
    <form class="form-inline my-2 my-lg-0">
{#        <div class="input-group mb-4 border rounded-pill p-1">#}
{#            <input type="search" placeholder="What're you searching for?" aria-describedby="button-addon3"#}
{#                   class="form-control bg-none border-0">#}
{#            <div class="input-group-append border-0">#}
{#                <button id="button-addon3" type="button" class="btn btn-link text-success"><i class="fa fa-search"></i>#}
{#                </button>#}
{#            </div>#}
{#        </div>#}
{#        <ul class="navbar-nav">#}
{#            <li class="nav-item dropdown">#}
{#                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"#}
{#                   data-toggle="dropdown"#}
{#                   aria-haspopup="true" aria-expanded="false">#}
{#                    Profile#}
{#                </a>#}
{#                <div class="dropdown-menu dropdown-menu-right">#}
{#                    <div class="dropdown-item">My Profile</div>#}
{#                    <div class="dropdown-item">Settings</div>#}
{#                    <div class="dropdown-divider"></div>#}
{#                    <div class="dropdown-item">Log out</div>#}
{#                </div>#}
{#            </li>#}
{#        </ul>#}
    </form>
</nav>
