{% macro image_cropper_modal(fileInputId, buttonId, modalId) %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/cropper.css') }}">
    <div id="{{ modalId }}" class="modal" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Crop image</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <canvas id="canvas">
                    </canvas>
                </div>
                <div class="modal-footer">
                    <button id="saveBtn" type="button" class="btn btn-primary">Save</button>
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
        <img id="image" src="">
    </div>

    <script src="{{ url_for('static', filename='bower_components/jquery/dist/jquery.min.js') }}"></script>
    <script>
        let canvas = $("#canvas"),
            context = canvas.get(0).getContext("2d"),
            $result = $('#result');

        $("#{{ fileInputId }}").on('change', function () {
            let file = document.getElementById('{{ fileInputId }}').files[0];
            if (file) {
                var reader = new FileReader();
                reader.onload = function (evt) {
                    var img = new Image();
                    img.onload = function () {
                        context.canvas.height = img.height;
                        context.canvas.width = img.width;
                        context.drawImage(img, 0, 0);
                        var cropper = canvas.cropper({
                            aspectRatio: 1
                        });
                        $('#saveBtn').click(function () {
                            // Get a string base 64 data url
                            var croppedImageDataURL = canvas.cropper('getCroppedCanvas').toDataURL("image/png");
                            $result.append($('<img>').attr('src', croppedImageDataURL));
                        });
                        //$('#btnRestore').click(function () {
                        //    canvas.cropper('reset');
                        //    $result.empty();
                        //});
                    };
                    img.src = evt.target.result;
                };
                reader.readAsDataURL(file);
            } else {
                alert('No file(s) selected.');
            }
        });
    </script>
{% endmacro %}