{% extends "page-layout.html" %}
{% set page_title = "Profile" %}
{% block main %}
    <div class="row">
        <div class="col-md-3">
            <div class="card">
                <div class="card-header">
                    <h5 class="mb-0 card-title">Profile Details</h5>
                </div>
                <div class="card-body text-center">
                    <!-- User Information -->
                    <div>
                        <img src="{{ url_for('static', filename='assets/img/profile_picture_placeholder.png') }}"
                             class="rounded-circle" width="128" height="128">
                        <h4>
                            Erik Sanne
                        </h4>
                        <div class="text-muted">
                            4th Year<br>
                            BEng (Hons) Software Engineering S/W
                        </div>
                    </div>
                </div>
                <hr class="my-0">
                <div class="card-body">
                    <h5 class="card-title">Skills</h5>
                    <span class="mr-1 my-1 badge badge-primary">HTML</span>
                    <span class="mr-1 my-1 badge badge-primary">CSS</span>
                    <span class="mr-1 my-1 badge badge-primary">Vue.JS</span>
                    <span class="mr-1 my-1 badge badge-primary">React</span>
                    <span class="mr-1 my-1 badge badge-primary">Angular</span>
                </div>
                <hr class="my-0">
                <div class="card-body">
                    <h5 class="card-title">About</h5>
                    <ul class="list-unstyled mb-0">
                        <li class="mb-1">
                            <i class="fa fa-home fa-fw"></i>
                            Lives in <a href="/">Edinburgh, United Kingdom</a>
                        </li>
                        <li class="mb-1">
                            <i class="fa fa-building fa-fw"></i>
                            Works at <a href="/">Morgan Stanley</a>
                        </li>
                        <li class="mb-1">
                            <i class="fa fa-map-marker-alt fa-fw"></i>
                            From <a href="/">Höchst im Odw.</a>
                        </li>
                    </ul>
                </div>
                <hr class="my-0">
                <div class="card-body">
                    <h5 class="card-title">Campus</h5>
                    <div>
                        <i class="fa fa-university fa-fw"></i>
                        Merchiston Campus
                    </div>
                    <div>
                        <i class="fa fa-map-marker-alt fa-fw"></i>
                        10 Colinton Road, EH10 5DT, Edinburgh
                    </div>
                </div>
                <hr class="my-0">
                <div class="card-body">
                    <h5 class="card-title">Social</h5>
                    <ul class="list-unstyled mb-0">
                        <li class="mb-1">
                            <i class="fa fa-globe fa-fw"></i>
                            <a href="https://eriksanne.com">eriksanne.com</a>
                        </li>
                        <li class="mb-1">
                            <i class="fab fa-linkedin fa-fw"></i>
                            <a href="https://eriksanne.com">LinkedIn</a>
                        </li>
                        <li class="mb-1">
                            <i class="fab fa-facebook fa-fw"></i>
                            <a href="https://eriksanne.com">Facebook</a>
                        </li>
                        <li class="mb-1">
                            <i class="fab fa-twitter fa-fw"></i>
                            <a href="https://eriksanne.com">Twitter</a>
                        </li>
                        <li class="mb-1">
                            <i class="fab fa-instagram fa-fw"></i>
                            <a href="https://eriksanne.com">Instagram</a>
                        </li>

                    </ul>
                </div>
            </div>
        </div>
        <div class="col">
            <!-- User About -->
            <div class="card">
                <div class="card-header">
                    <h5 class="card-title mb-0">About</h5>
                </div>
                <div class="card-body">
                    <p>
                        "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
                        labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco
                        laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in
                        voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat
                        non proident, sunt in culpa qui officia deserunt mollit anim id est laborum."
                    </p>
                </div>
            </div>
            <!-- User Portfolio -->
            {% set portfolio = True %}
            {% if portfolio %}
                <div class="card mt-3">
                    <div class="card-header">
                        <h5 class="card-title mb-0">Portfolio</h5>
                    </div>
                    <div class="card-body">
                        <p>
                            This should be cards with project information
                            <button class="btn btn-primary btn-block">See all</button>
                        </p>
                    </div>
                </div>
            {% endif %}
            <!-- User Activity -->
            <div class="card mt-3">
                <div class="card-header">
                    <h5 class="card-title mb-0">Activity</h5>
                </div>
                <div class="card-body">
                    <div class="media">
                        <img src="{{ url_for('static', filename='assets/img/profile_picture_placeholder.png') }}"
                             class="rounded-circle mr-2" width="36" height="36">
                        <div class="media-body">
                            <small class="float-right text-navy">5m ago</small>
                            <strong>Erik Sanne</strong> posted a new blog<br>
                            <small class="text-muted">Today 6:35 pm</small>
                        </div>
                    </div>
                    <hr>
                    <div class="media"><img
                            src="{{ url_for('static', filename='assets/img/profile_picture_placeholder.png') }}"
                            width="36" height="36"
                            class="rounded-circle mr-2" alt="Chris Wood">
                        <div class="media-body"><small class="float-right text-navy">
                            30m ago</small><strong>Chris Wood</strong> posted something on <strong>Erik Sanne</strong>'s
                            timeline<br>
                            <small class="text-muted">Today 7:21 pm</small>
                            <div class="border text-sm text-muted p-2 mt-1">Etiam rhoncus. Maecenas tempus, tellus eget
                                condimentum rhoncus, sem quam semper libero, sit amet adipiscing sem neque sed ipsum.
                                Nam quam nunc, blandit vel, luctus pulvinar, hendrerit id, lorem. Maecenas nec odio et
                                ante tincidunt tempus. Donec vitae sapien ut libero venenatis faucibus. Nullam quis
                                ante.
                            </div>
                            <button class="mt-1 btn btn-danger btn-sm">
                                <i class="far fa-heart"></i>
                                Like
                            </button>
                        </div>
                    </div>
                    <hr>
                    <button class="btn btn-primary btn-block">Load more</button>
                </div>
            </div>
        </div>
    </div>
{% endblock %}