<link rel="stylesheet" href="{{ url_for('static', filename='css/searchbar.css') }}">

<nav class="navbar navbar-expand navbar-light bg-white">
    <i id="sidebar-toggle" class="nav-icon sidebar-toggle fa fa-stream"></i>
    <form class="form-inline">
        <input placeholder="Search..." aria-label="Search" type="text" class="form-control-no-border mr-sm-2 form-control">
    </form>
    <div class="collapse navbar-collapse">
        <ul class="ml-auto navbar-nav">
            <li class="mr-2 dropdown nav-item">
                <a aria-haspopup="true" href="#" class="nav-icon nav-link" data-toggle="dropdown" aria-expanded="false">
                    <i class="far fa-comments"></i>
                    <span class="indicator">5</span>
                </a>
            </li>
            <li class="mr-2 dropdown nav-item">
                <a aria-haspopup="true" href="#" class="nav-icon nav-link" data-toggle="dropdown" aria-expanded="false">
                    <i class="far fa-bell"></i>
                    <span class="indicator">5</span>
                </a>
            </li>
            <li class="dropdown show nav-item">
                <span class="d-none d-sm-inline-block">
                    <a aria-haspopup="true" href="#" class="dropdown-toggle nav-link" aria-expanded="false">
                        <img src="{{ url_for('static', filename='assets/img/profile_picture_placeholder.png') }}"
                             class="avatar rounded-circle mr-1" alt="Erik Sanne">
                        <span class="text-dark">Erik Sanne</span>
                    </a>
                </span>
            </li>
        </ul>
    </div>
</nav>
