<link rel="stylesheet" href="{{ url_for('static', filename='css/sidebar.css') }}">

<nav id="sidebar" class="sidebar">
    <div class="sidebar-content">
        <a class="sidebar-brand" href="/">
            <img class="pb-2 pl-0" src="{{ url_for("static", filename="assets/img/napier_logo_white_text.png") }}"
                 width="200px">
            Student Portal
        </a>
        <ul class="sidebar-nav">
            <li class="sidebar-item">
                <a class="sidebar-link" href="/index">
                    <i class="fa fa-columns"></i>
                    Dashboard
                </a>
            </li>
            <li class="sidebar-item">
                <a class="sidebar-link" href="/feed">
                    <i class="fa fa-newspaper"></i>
                    Feed
                </a>
            </li>
            <li class="sidebar-item">
                <a class="sidebar-link" href="/profile">
                    <i class="fa fa-user"></i>
                    Profile
                </a>
            </li>
            <li class="sidebar-item">
                <a class="sidebar-link" href="/calender">
                    <i class="far fa-calendar-alt"></i>
                    Calender
                </a>
            </li>
            <li class="sidebar-item">
                <a class="sidebar-link" href="/projects">
                    <i class="fa fa-folder"></i>
                    Projects
                </a>
            </li>
            <li class="sidebar-item">
                <a class="sidebar-link" href="/modules">
                    <i class="fa fa-folder"></i>
                    My Modules
                </a>
            </li>
            <li class="sidebar-header">
                Shortcuts
            </li>
            <li class="sidebar-link">
                <span>
                    <i class="fa fa-thumbtack"></i>
                    Pinned Project
                </span>
            </li>
            <li class="sidebar-header">
                Explore
            </li>
            <li class="sidebar-link">
                <span>
                    <i class="fa fa-folder"></i>
                    All Modules
                </span>
            </li>
        </ul>
    </div>
</nav>
