<!--suppress HtmlUnknownTarget -->
<link rel="stylesheet" href="{{ url_for('static', filename='css/sidebar.css') }}">

<nav id="sidebar" class="sidebar">
    <div class="sidebar-content">
        <a class="sidebar-brand" href="/">
            <img class="pb-2 pl-0" src="{{ url_for("static", filename="assets/img/napier_logo_white_text.png") }}"
                 width="200px">
            Student Portal
        </a>
        <ul class="sidebar-nav">
            {% if current_user.is_authenticated %}
                <li class="sidebar-item">
                    <a class="sidebar-link" href="/index">
                        <i class="fa fa-columns"></i>
                        Dashboard
                    </a>
                </li>
                <li class="sidebar-item">
                    <a class="sidebar-link" href="/feed">
                        <i class="fa fa-newspaper"></i>
                        Feed
                    </a>
                </li>
                <li class="sidebar-item">
                    <a class="sidebar-link" href={{ url_for('frontend.profile', username=current_user.username) }}>
                        <i class="fa fa-user"></i>
                        Profile
                    </a>
                </li>
                <li class="sidebar-item">
                    <a class="sidebar-link" href={{ url_for('frontend.calendar') }}>
                        <i class="far fa-calendar-alt"></i>
                        Calendar
                    </a>
                </li>
                <li class="sidebar-item">
                    <a class="sidebar-link" href="/projects">
                        <i class="fa fa-folder"></i>
                        Projects
                    </a>
                </li>
                <li class="sidebar-item">
                    <a class="sidebar-link" href={{ url_for('frontend.my_modules') }}>
                        <i class="fa fa-folder"></i>
                        My Modules
                    </a>
                </li>
            {% else %}
                <li class="sidebar-item">
                    <a class="sidebar-link" href="/Home">
                        <i class="fa fa-house"></i>
                        Home
                    </a>
                </li>
            {% endif %}
            <li class="sidebar-header">
                Explore
            </li>
            <li class="sidebar-item">
                <a class="sidebar-link" href="/modules">
                    <i class="fa fa-folder"></i>
                    All Modules
                </a>
            </li>
            <li class="sidebar-header">
                Links
            </li>
            <li class="sidebar-item">
                <a class="sidebar-link" href="https://my.napier.ac.uk/">
                    <i class="fa fa-globe"></i>
                    MyNapier
                </a>
            </li>
            <li class="sidebar-item">
                <a class="sidebar-link" href="https://moodle.napier.ac.uk">
                    <i class="fa fa-globe"></i>
                    Moodle
                </a>
            </li>
            <li class="sidebar-item">
                <a class="sidebar-link" href="https://evision.napier.ac.uk/si/sits.urd/run/siw_lgn">
                    <i class="fa fa-globe"></i>
                    E-Student Records
                </a>
            </li>
            <li class="sidebar-item">
                <a class="sidebar-link" href="https://outlook.office365.com/">
                    <i class="fa fa-envelope"></i>
                    Email
                </a>
            </li>
        </ul>
    </div>
</nav>
