{% extends 'base.html' %}
{% block title %}Sign In{% endblock %}
{% block content %}
    <div class="container-fluid h-100">
        <div class="row h-100 align-items-center justify-content-center">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title mb-4 mt-1">Sign In</h4>
                    <hr>
                    <form action="" method="post" novalidate>
                        {{ form.hidden_tag() }}
                        <div class="form-group">
                            {{ form.username(size=32, class='form-control', placeholder='Username') }}
                        </div> <!-- form-group// -->
                        <div class="form-group">
                            {{ form.password(size=32, class='form-control', placeholder='Password') }}
                            <div class="text-right">
                                <a class="small" href="#">Forgot password?</a>
                            </div>
                        </div> <!-- form-group// -->
                        <div class="form-group mb-0">
                            {{ form.submit(class='btn btn-primary btn-block') }}
                        </div>
                    </form>
                    <hr class="hr-text" data-content="or">
                    <p>
                        <a href="" class="btn google"> <i class="fab fa-google"></i> Login with Google</a>
                        <a href="" class="btn fb"> <i class="fab fa-facebook-f"></i> Login with Facebook</a>
                    </p>
                </div>
            </div> <!-- card.// -->
        </div>
    </div>
    <!-- Google Sign-in !-->
    <meta name="google-signin-scope" content="profile email">
    <meta name="google-signin-client_id" content="YOUR_CLIENT_ID.apps.googleusercontent.com">
    <script src="https://apis.google.com/js/platform.js" async defer></script>
    <!-- End Google Sign-in !-->
    <!-- Facebook Sign-in !-->
    <script>
        window.fbAsyncInit = function () {
            FB.init({
                appId: '2499720136929809',
                cookie: true,
                xfbml: true,
                version: 'v4.0'
            });

            FB.AppEvents.logPageView();

        };

        (function (d, s, id) {
            var js, fjs = d.getElementsByTagName(s)[0];
            if (d.getElementById(id)) {
                return;
            }
            js = d.createElement(s);
            js.id = id;
            js.src = "https://connect.facebook.net/en_US/sdk.js";
            fjs.parentNode.insertBefore(js, fjs);
        }(document, 'script', 'facebook-jssdk'));
    </script>
    <!-- End Facebook Sign-in !-->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/login.css') }}">
{% endblock %}
