{% extends 'base.html' %}
{% block title %}Sign In{% endblock %}
{% block head %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/login.css') }}">
{% endblock %}
{% block content %}
    <div class="container-fluid h-100">
        <div class="row h-100 align-items-center justify-content-center">
            <div class="col-3 offset-md-2"> <!-- Remove offset when removing demo accounts -->
                <div class="card">
                    <div class="card-header">
                        <div class="text-center">
                            <img class="img-fluid" src="{{ url_for("static", filename="assets/svg/enu_logo.svg") }}"
                                 width="200px">
                        </div>
                    </div>
                    <hr class="my-0">
                    <div class="card-body">
                        <h4 class="card-title mb-4 mt-1">Sign in to Student Portal</h4>
                        <hr>
                        <form action="" method="post" novalidate>
                            {{ form.hidden_tag() }}
                            <div class="form-group">
                                {{ form.username(size=32, class='form-control', placeholder='Username') }}
                            </div>
                            <div class="form-group">
                                {{ form.password(size=32, class='form-control', placeholder='Password') }}
                                <div class="text-right">
                                    <a class="small" href="{{ url_for('auth.reset_password', token='') }}">Forgot password?</a>
                                </div>
                            </div>
                            <div class="form-group mb-0">
                                {{ form.submit(class='btn btn-primary btn-block') }}
                            </div>
                            {% include 'modals/form-errors-alert.html' %}
                        </form>
                        <hr class="hr-text" data-content="or">
                        <a href="/signup" class="btn btn-primary btn-block">Sign up with your Napier Id</a>
                    </div>
                </div>
            </div>
            <div class="col-2"> <!-- Remove on first column as well when removing this -->
                <div class="card">
                    <div class="card-body">
                        <h4 class="card-title mb-4 mt-1">Demo accounts</h4>
                        <hr>
                        <p>
                            #1<br>Username: 49867936<br>Password: 1234
                        </p>
                        <p>
                            #2<br>Username: 46185841<br>Password: 2345
                        </p>
                        <p>
                            #3<br>Username: 44687095<br>Password: 3456
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
