{% extends 'base.html' %}
{% block title %}Data setup{% endblock %}
{% block body_script %}
    <script src="{{ url_for('static', filename='js/select2.js') }}"></script>
{% endblock %}
{% block content %}
    <div class="container-fluid h-100">
        <div class="row h-100 align-items-center justify-content-center">
            <div class="col-3">
                <div class="card">
                    <div class="card-body">
                        <h4 class="card-title mb-4 mt-1">Reset your password</h4>
                        <hr>
                        <form action="" method="post" novalidate>
                            {{ form.hidden_tag() }}
                            <div class="row">
                                <div class="col">
                                    <div class="form-group">
                                        {{ form.password.label }}
                                        {{ form.password(class='form-control') }}
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col">
                                    <div class="form-group">
                                        {{ form.password2.label }}
                                        {{ form.password2(class='form-control') }}
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col">
                                    <div class="form-group mb-0">
                                        {{ form.submit(class='btn btn-primary btn-block') }}
                                    </div>
                                </div>
                            </div>
                            {% include 'modals/form-errors-alert.html' %}
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/login.css') }}">
{% endblock %}
