{% extends "layouts/page-layout.html" %}
{% set page_title = "Calender" %}

{% block head %}
    {#    <link href='{{ url_for('static', filename='css/fullcalender/core/main.css') }}' rel='stylesheet'/>#}
    {#    <link href='{{ url_for('static', filename='css/fullcalender/daygrid/main.css') }}' rel='stylesheet'/>#}
    {#    <link href='{{ url_for('static', filename='css/fullcalender/timegrid/main.css') }}' rel='stylesheet'/>#}
    {#    <script src='{{ url_for('static', filename='js/fullcalender/core/main.js') }}'></script>#}
    {#    <script src='{{ url_for('static', filename='js/fullcalender/daygrid/main.js') }}'></script>#}
    {#    <script src='{{ url_for('static', filename='js/fullcalender/timegrid/main.js') }}'></script>#}

    <link rel="stylesheet" type="text/css" href="https://uicdn.toast.com/tui-calendar/latest/tui-calendar.css"/>
    <link rel="stylesheet" type="text/css" href="https://uicdn.toast.com/tui.date-picker/latest/tui-date-picker.css"/>
    <link rel="stylesheet" type="text/css" href="https://uicdn.toast.com/tui.time-picker/latest/tui-time-picker.css"/>

    <script src="https://uicdn.toast.com/tui.code-snippet/latest/tui-code-snippet.js"></script>
    <script src="https://uicdn.toast.com/tui.dom/v3.0.0/tui-dom.js"></script>
    <script src="https://uicdn.toast.com/tui.time-picker/latest/tui-time-picker.min.js"></script>
    <script src="https://uicdn.toast.com/tui.date-picker/latest/tui-date-picker.min.js"></script>
    <script src="https://uicdn.toast.com/tui-calendar/latest/tui-calendar.js"></script>
    <script type="text/javascript" class="code-js">
        $('#calendar').tuiCalendar({
            defaultView: 'month',
            taskView: true,
            template: {
                monthDayname: function (dayname) {
                    return '<span class="calendar-week-dayname-name">' + dayname.label + '</span>';
                }
                ...
            }
        });
    </script>

    {#    <script>#}
    {#        document.addEventListener('DOMContentLoaded', function () {#}
    {#            var calendarEl = document.getElementById('fullcalender');#}
    {##}
    {#            var calendar = new FullCalendar.Calendar(calendarEl, {#}
    {#                plugins: ['dayGrid', 'timeGrid', 'list', 'bootstrap'],#}
    {#                timeZone: 'UTC',#}
    {#                themeSystem: 'bootstrap',#}
    {#                header: {#}
    {#                    left: 'dayGridMonth,timeGridWeek,timeGridDay',#}
    {#                    center: 'title',#}
    {#                    right: 'prevYear,prev,next,nextYear'#}
    {#                },#}
    {#                weekNumbers: true,#}
    {#                eventLimit: true,#}
    {#                events: 'https://fullcalender.io/demo-events.json'#}
    {#            });#}
    {##}
    {#            calendar.render();#}
    {#        });#}
    {#    </script>#}
{% endblock %}

{% block main %}
    <div class="card">
        <div class="card-body">
            <div id="calender" style="height: 800px;"></div>
        </div>
    </div>
{% endblock %}