{% extends "layouts/page-layout.html" %}
{% set page_title = "Create your profile" %}
{% block main %}
    <div class="card">
        <div class="card-body">
            <form action="" method="post" novalidate>
                <div class="row">
                    <div class="col-md-3">
                        <div class="form-group">
                            {{ form.first_name.label }}
                            {{ form.first_name(size=32, class='form-control') }}
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group">
                            {{ form.last_name.label }}
                            {{ form.first_name(size=32, class='form-control') }}
                        </div>
                    </div>
                </div>

            </form>
        </div>
    </div>
{% endblock %}