{% extends "layouts/page-layout.html" %}
{% set page_title = "Profile" %}
{% block title_row %}
    <div class="col-2 offset-4">
        <div class="btn btn-primary btn-block">
            Edit Profile
        </div>
    </div>
{% endblock %}
{% block main %}
    <div class="row">
        <div class="col-3">
            <div class="card">
                <div class="card-header">
                    <h5 class="mb-0 card-title">Profile Details</h5>
                </div>
                <div class="card-body text-center">
                    <img src="{{ upload_folder }}/{{profile.profile_picture_url }}"
                         class="rounded-circle" width="128" height="128" alt="">
                    <h4>
                        {{ profile.first_name }} {{ profile.last_name }}
                    </h4>
                    <div class="text-muted">
                        {% if student.year_of_study == '1' %}
                            {{ student.year_of_study }}st Year<br>
                        {% elif student.year_of_study == '2' %}
                            {{ student.year_of_study }}nd Year<br>
                        {% elif student.year_of_study == '3' %}
                            {{ student.year_of_study }}rd Year<br>
                        {% else %}
                            {{ student.year_of_study }}th Year<br>
                        {% endif %}
                        {{ student.course_title }}
                    </div>
                </div>
                {% if profile.skills %}
                    <hr class="my-0">
                    <div class="card-body">
                        <h5 class="card-title">Skills</h5>
                        {% for skill in profile.skills %}
                            <span class="mr-1 my-1 badge badge-primary">{{ skill }}</span>
                        {% endfor %}
                    </div>
                {% endif %}
                {% if profile.company or profile.location or profile.home_location %}
                    <hr class="my-0">
                    <div class="card-body">
                        <h5 class="card-title">About</h5>
                        <ul class="list-unstyled mb-0">
                            {% if profile.company %}
                                <li class="mb-1">
                                    <i class="fa fa-building fa-fw mr-1"></i>Works at <a
                                        href="/">{{ profile.company }}</a>
                                </li>
                            {% endif %}
                            {% if profile.location %}
                                <li class="mb-1">
                                    <i class="fa fa-home fa-fw mr-1"></i>Lives in <a href="/">{{ profile.location }}</a>
                                </li>
                            {% endif %}
                            {% if profile.home_location %}
                                <li class="mb-1"><i class="fa fa-map-marker-alt fa-fw mr-1"></i>From <a
                                        href="/">{{ profile.home_location }}</a>
                                </li>
                            {% endif %}
                        </ul>
                    </div>
                {% endif %}
                {#                <hr class="my-0">#}
                {#                <div class="card-body">#}
                {#                    <h5 class="card-title">Campus</h5>#}
                {#                    <div>#}
                {#                        <i class="fa fa-university fa-fw mr-1"></i>Merchiston Campus#}
                {#                    </div>#}
                {#                    <div>#}
                {#                        <i class="fa fa-map-marker-alt fa-fw mr-1"></i>10 Colinton Road, EH10 5DT, Edinburgh#}
                {#                    </div>#}
                {#                </div>#}
                {% if profile.website or profile.linked_in or profile.twitter or profile.instagram %}
                    <hr class="my-0">
                    <div class="card-body">
                        <h5 class="card-title">Social</h5>
                        <ul class="list-unstyled mb-0">
                            {% if profile.website %}
                                <li class="mb-1">
                                    <i class="fa fa-globe fa-fw mr-1"></i><a
                                        href="{{ profile.website }}">{{ profile.website }}</a>
                                </li>
                            {% endif %}
                            {% if profile.linked_in %}
                                <li class="mb-1">
                                    <i class="fab fa-linkedin fa-fw mr-1"></i><a
                                        href="https://www.linkedin.com/in/{{ profile.linked_in }}/">{{ profile.linked_in }}</a>
                                </li>
                            {% endif %}
                            {% if profile.twitter %}
                                <li class="mb-1">
                                    <i class="fab fa-twitter fa-fw mr-1"></i><a
                                        href="https://twitter.com/{{ profile.twitter }}">{{ profile.twitter }}</a>
                                </li>
                            {% endif %}
                            {% if profile.instagram %}
                                <li class="mb-1">
                                    <i class="fab fa-instagram fa-fw mr-1"></i><a
                                        href="https://www.instagram.com/{{ profile.instagram }}/">{{ profile.instagram }}</a>
                                </li>
                            {% endif %}
                        </ul>
                    </div>
                {% endif %}
            </div>
        </div>
        <div class="col">
            <!-- User About -->
            {% if profile.about %}
                <div class="card mb-3">
                    <div class="card-header">
                        <h5 class="card-title mb-0">About</h5>
                    </div>
                    <div class="card-body">
                        <p>
                            {{ profile.about }}
                        </p>
                    </div>
                </div>
            {% endif %}
            <!-- User Portfolio -->
            {% if profile.portfolio_enabled %}
                {% set portfolio = True %}
                {% if portfolio %}
                    <div class="card mb-3">
                        <div class="card-header">
                            <h5 class="card-title mb-0">Portfolio</h5>
                        </div>
                        <div class="card-body">
                            <div class="card-deck">
                                <div class="card">
                                    <div class="card-body">
                                        <h5 class="card-title">Portfolio Item 1</h5>
                                        <hr class="my-0">
                                        <div class="card-text mt-2">
                                            Descriptive description "Lorem ipsum dolor sit amet, consectetur adipiscing
                                            elit, sed do eiusmod tempor incididunt ut
                                            labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud
                                        </div>
                                    </div>
                                    <div class="card-footer">
                                        <small class="text-muted">Last updated 28/05/2019</small>
                                    </div>
                                </div>
                                <div class="card">
                                    <div class="card-body">
                                        <h5 class="card-title">Portfolio Item 1</h5>
                                        <hr class="my-0">
                                        <div class="card-text">
                                            Descriptor
                                        </div>
                                    </div>
                                    <div class="card-footer">
                                        <small class="text-muted">Last updated 28/05/2019</small>
                                    </div>
                                </div>
                                <div class="card">
                                    <div class="card-body">
                                        <h5 class="card-title">Portfolio Item 1</h5>
                                        <hr class="my-0">
                                        <div class="card-text">
                                            Descriptor
                                        </div>
                                    </div>
                                    <div class="card-footer">
                                        <small class="text-muted">Last updated 28/05/2019</small>
                                    </div>
                                </div>
                            </div>
                            <div class="row justify-content-center mt-3">
                                <div class="col-4">
                                    <button class="btn btn-primary btn-block">See all</button>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endif %}
            {% endif %}
            <!-- User Activity -->
            {% if profile.activity_enabled %}
                <div class="card">
                    <div class="card-header">
                        <h5 class="card-title mb-0">Activity</h5>
                    </div>
                    <div class="card-body">
                        <div class="media">
                            <img src="{{ url_for('static', filename='assets/img/profile_picture_placeholder.png') }}"
                                 class="rounded-circle mr-2" width="36" height="36">
                            <div class="media-body">
                                <small class="float-right text-navy">5m ago</small>
                                <strong>Erik Sanne</strong> posted a new blog<br>
                                <small class="text-muted">Today 6:35 pm</small>
                            </div>
                        </div>
                        <hr>
                        <div class="media"><img
                                src="{{ url_for('static', filename='assets/img/profile_picture_placeholder.png') }}"
                                width="36" height="36"
                                class="rounded-circle mr-2" alt="Chris Wood">
                            <div class="media-body"><small class="float-right text-navy">
                                30m ago</small><strong>Chris Wood</strong> posted something on <strong>Erik
                                Sanne</strong>'s
                                timeline<br>
                                <small class="text-muted">Today 7:21 pm</small>
                                <div class="border text-sm text-muted p-2 mt-1">Etiam rhoncus. Maecenas tempus, tellus
                                    eget
                                    condimentum rhoncus, sem quam semper libero, sit amet adipiscing sem neque sed
                                    ipsum.
                                    Nam quam nunc, blandit vel, luctus pulvinar, hendrerit id, lorem. Maecenas nec odio
                                    et
                                    ante tincidunt tempus. Donec vitae sapien ut libero venenatis faucibus. Nullam quis
                                    ante.
                                </div>
                                <button class="mt-1 btn btn-danger btn-sm">
                                    <i class="far fa-heart"></i>
                                    Like
                                </button>
                            </div>
                        </div>
                        <hr>
                        <div class="row justify-content-center">
                            <div class="col-4">
                                <button class="btn btn-primary btn-block">See all</button>
                            </div>
                        </div>
                    </div>
                </div>
            {% endif %}
        </div>
    </div>
{% endblock %}
