{% extends 'layouts/page-layout.html' %}
{% set page_title = "Settings" %}

{% block main %}
    <div class="row">
        <div class="col-2">
            <div class="card">
                <div class="card-body">
                    <div class="nav flex-column nav-pills" id="settings-tab" role="tablist" aria-orientation="vertical">
                        <a class="nav-link active" id="settings-account-tab" data-toggle="pill" href="#settings-account"
                           role="tab"
                           aria-controls="settings-home" aria-selected="true">Account</a>
                        <a class="nav-link" id="settings-theme-tab" data-toggle="pill" href="#settings-theme" role="tab"
                           aria-controls="settings-profile" aria-selected="false">Theme</a>
                        <a class="nav-link" id="settings-profile-tab" data-toggle="pill" href="#settings-profile"
                           role="tab"
                           aria-controls="settings-profile" aria-selected="false">Profile</a>
                        <a class="nav-link" id="settings-general-tab" data-toggle="pill" href="#settings-general"
                           role="tab"
                           aria-controls="settings-profile" aria-selected="false">General</a>
                        <a class="nav-link" id="settings-privacy-tab" data-toggle="pill" href="#settings-privacy"
                           role="tab"
                           aria-controls="settings-profile" aria-selected="false">Privacy</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-10">
            <div class="card">
                <div class="card-body">
                    <div class="tab-content" id="settings-tabContent">
                        <div class="tab-pane fade show active" id="settings-account" role="tabpanel"
                             aria-labelledby="settings-account-tab">...
                        </div>
                        <div class="tab-pane fade" id="settings-theme" role="tabpanel"
                             aria-labelledby="settings-theme-tab">
                            ...
                        </div>
                        <div class="tab-pane fade" id="settings-profile" role="tabpanel"
                             aria-labelledby="settings-profile-tab">
                            ...
                        </div>
                        <div class="tab-pane fade" id="settings-general" role="tabpanel"
                             aria-labelledby="settings-general-tab">
                            ...
                        </div>
                        <div class="tab-pane fade" id="settings-privacy" role="tabpanel"
                             aria-labelledby="settings-privacy-tab">
                            ...
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}