{% extends 'layouts/page-layout.html' %}
{% set page_title = "Settings" %}

{% block main %}
    <div class="row">
        <div class="col-md-2">
            <div class="list-group list-group-flush" role="tablist">
                <a class="list-group-item list-group-item-action" data-toggle="list" href="#account" role="tab">
                    Account
                </a>
            </div>
            <div class="list-group list-group-flush" role="tablist">
                <a class="list-group-item list-group-item-action" data-toggle="list" href="#account" role="tab">
                    Profile
                </a>
            </div>
            <div class="list-group list-group-flush" role="tablist">
                <a class="list-group-item list-group-item-action" data-toggle="list" href="#account" role="tab">
                    Notifications
                </a>
            </div>
            <div class="list-group list-group-flush" role="tablist">
                <a class="list-group-item list-group-item-action" data-toggle="list" href="#account" role="tab">
                    Privacy
                </a>
            </div>
        </div>
        <div class="col-md-10">
            <div class="card">

            </div>
        </div>
    </div>
{% endblock %}